# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.pytest_cache/
.coverage
htmlcov/

# Models & Data (Mounted as volumes)
ekyc/models/weights/
data/calibration/

# IDEs
.vscode/
.idea/

# Git
.git/
.gitignore

# Poetry
.poetry/
